@use '../colors';

.button{
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;


    &--primary
    {
        color: colors.$text;
        background-color: colors.$button;
        text-decoration: none;
        border-radius: 5px;
    }
    @media(max-width:640px){
        display: flex;
        width: 100%;
        align-items: center;
    }
    @media(max-width:1024px){
        display: flex;
        align-items: center;
    }
}