@use '../colors';
.infos__bar{
    padding:16px 24px;
    background-color:colors.$text;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    &__infos{
        display: flex;
        gap:40px;
        &__item{
            font-size: 14px;
            color:colors.$secondaryText;
            b{
                font-size: 18px;
                display: block;
                color:colors.$secondaryText;       
            }
        }

    }
    @media(max-width:640px){
        display: block;

        &__infos
        {
            display: block;
            &__item
            {
                margin-bottom: 24px;
            }
        }
    }
    @media(max-width:1024px){
        &__infos{
            gap:16px;
        }
    }
}